
body{
    font-family: Microsoft YaHei;
     background-color: white;
    width:100%;
    font-size: 24px;
}
.banner{
    position: relative;
    overflow: hidden;
    height: 188px;
    width:100%;
    margin:0;
}


.heroList{
    border-bottom: 1px solid #e4e2e2;
    width:100%;
    padding-top: 3%;
    background-color: #ffffff;
    font-size: 20px;
}
.heroList ul {
    list-style-type:none
    margin-top: 0px;
    -webkit-margin-before:0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 100%;
    background-color: white;
}
.heroList ul li{
    color: #666666;
    font-size: 24px;
    border:0;
    display: inline;
    width: 100%;
    white-space:nowrap;
    height:auto;
    margin-left: 5%;


}

.heroList ul li:last-child{
    width: 60px;
    text-align: right;
    margin:0 0 0 8%;
}
.heroList ul li:first-child{
    margin-left: 30%;
    text-align: right;
}
.heroList4_30{
    padding-bottom: 10px;
    background-color: white;
}
.heroList4_30 ul{
    margin-top: 0;
    list-style-type:none
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 00px;
}
.heroList4_30 ul li{
    font-size: 20px;
    border:0;
    display: inline;
    width: 95%;
    margin-left:15%;
    white-space:nowrap;
    height:auto;
}
.heroList4_30 ul li:first-child{
    margin-left:6%;
}
.heroList4_30 ul li:last-child{
    margin-left:15%;
}
.heroList4_30 .second_li{
    margin-left: 15%;

}


.hero_ls{
    margin-top:0;
    margin-bottom: 12%;
    overflow:auto;
    background-color: #ffffff;
    height: auto;
}
.hero_ls ul{
    list-style-type:none
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start:0px;
    overflow:auto;

    width: 100%;
}
.hero_ls ul li{
    font-size: 18px;
    border:0;
    display: inline;
    min-width: 20px;
    margin:0 0 0 10%;
    overflow:auto;
    white-space:nowrap;

    width:auto ;
}
.hero_ls ul li:first-child{
    font-weight:bold;
    margin:0 0 0 30%;

    min-width : 60px;
}
.hero_ls ul li:last-child{
    min-width : 60px;
    margin:0 0 0 12%;
}

.submitBtn{
    -webkit-border-top-left-radius:  10px;
    -webkit-border-top-right-radius:  10px;
    -webkit-border-bottom-right-radius:   10px;
    -webkit-border-bottom-left-radius:  10px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: normal;
    height: 105px;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size:50px;
    background-color: #d01b02;
    color: white;
    width: 80%;
    margin: 0 10% 20px 10%;
}
.tips{

    background-color: white;
    margin: 3% 5% 0 5%;
    font-size: 20px;
    color: #333333;
}
#Countdown h1{
    color: #ffe23a;
    font-size:28px;

    display : inline;
    text-align: center;
    font-weight:normal;
}
.Countdown{
    height: auto;
    background-color: white;
    font-size: 18px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: -8%;
    margin-bottom: 5%;
    color: white;
    position: absolute; left: 174.5px; bottom: 10px; z-index: 500;
}

.step{
    padding: 0 0 0 0;
    -webkit-border-top-left-radius:  10px;
    -webkit-border-top-right-radius:  10px;
    -webkit-border-bottom-right-radius:   10px;
    -webkit-border-bottom-left-radius:  10px;
    border-style: solid;
    border-width: 1px;

    border-color: #e7e7e6;

    background-color: white;
    display:table;
    margin-bottom: 30px;
    width: 100%;
}


.infoText{
    padding-left:10px ;
    overflow:hidden;

    vertical-align:middle;
    display:table-cell;
    word-wrap:break-word;
    vertical-align:middle;
    margin-right: 30px;
    font: 400 28px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei;
}
.stepTitle{
    padding-left: 2%;
    padding-right: 2%;

    font: 400 34px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei;
    width: 20%;
    color: #9c9c9c;
    border-right: #e7e7e6 1px solid;
}
.winnerTitle{
    width:100%;
    background-color: white;
    height:auto
}
.winnerImg{
    width: 90%;
    margin: 0px 5% 0 5%;
    padding-top: 10px;
    height:auto
}
.cycle{
    -webkit-border-top-left-radius:  25px;
    -webkit-border-top-right-radius:  25px;
    -webkit-border-bottom-right-radius:  25px;
    -webkit-border-bottom-left-radius:  25px;
    border-style: solid;
    border-width: 0px;
    width: 50px;
    height:50px;
    background-color: #999999;
    text-align: center;
    color: #FFFFFF;
    float: left;
    font-size: 28px;
}
.heroList_1{
    float: left;
    margin-left: 7%;
    font-size: 24px;
    height: auto;
}
.heroList_1:first-child{
    margin-left: 31%;
}
.m5{
    margin-left: 5%;
}
.m10{
    margin-left: 10%;
}
.m3{
    margin-left: 3%;
}