<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/heroList_n.css?v=1.19">
    <link rel="stylesheet" href="./css/base.css?v=201508132008">
    <link rel="stylesheet" href="./css/main.css?v=201508132008">

    <div class="ui_header " id="eventTitle" style="height: 44px" >

    <span class="ui_header-icon fl " onclick="backToIndex()">

        <i class="icon-back"></i>

    </span>

        <h1 class="hiui-page-title " style="line-height: 44px;" >

            加薪猫

        </h1>
    </div>
</head>
<body  style=" background-color: #90111d">
<div class="cover" id="cover"></div>
<div class="coverText" id="coverText" onclick="closeCover()"></div>
<div style="height: 44px;" id="padBox"></div>



    <div class="mod_focus">
        <div class="img_box bannerHeight" >

                <img height="100%" src="./img/heroList_banner_1.jpg">


               </div>
    </div>
<div class="rank"  id="rank">
    <h1 id="userName">小薪薪</h1>加载中。。。
</div>
<div class="Countdown"  id="Countdown">
    距离活动结束:<h1>0</h1>天<h1>0</h1>小时<h1>0</h1>分<h1>0</h1>秒
</div>
<div class="heroList_img_box_2"  style="height: 20px">
    <img width="100%" height="100%" src="./img/heroList_light.jpg">
</div>
<div class="laba redShadow labaText">
    中信资产和加薪猫正式开展深度合作！
</div>
<div class="gongshiInfo redShadow">
    12月邀请争霸赛，奖品再次升级！本月活动按照邀请好友的累计年化投资额排名，最终前30名的用户将赢得超级大奖！
</div>
<div class="gongshiInfo" style="height: 45px">
    <img width="100%" height="100%" src="./img/heroList_gongshi.png">
</div>
<!--<div class="heroList_img_box img_height" >-->
    <!--<img width="100%" height="100%" src="./img/heroList_banner_2.jpg">-->
<!--</div>-->
<div class="bindInfo img_height">
    <div class="bindText"> *为保证奖品的成功发放，未绑卡用户 <a onclick="toBind()" style="color: #90111d;text-decoration:underline">请先绑卡</a> </div>

</div>
    <!--<img src="./img/hero_banner.png" style="height: 100%">-->

    <div class="img_box backColor" style="height:60px;padding: 10px 0 0 20px;">

            <img style="height: 100%;width: auto" src="./img/heroList_flag.png" >


       </div>

<div class="backColor">
    <div class="heroList" id="heroList">
    </div>
</div>
  
<div class="backColor" style="width: 100%;padding-top: 10px;margin-top: 20px">
    <div class="notice">
      <div class="noticeTitle">活动说明</div>
        <div class="noticeText">
            <p> 1.<strong>活动时间</strong>：2015年12月1日-12月31日</p>
            <p> 2.<strong>活动对象</strong>：加薪猫理财平台所有用户</p>
            <p> 3.<strong>参与产品</strong>：加薪猫平台固定收益类的所有产品</p>
            <p> 4.<strong>活动规则</strong>：活动期间，按照用户及用户名下所有邀请的好友，在本月成功支付活动参与产品的累计年化投资额进行排序。累计年化投资额相同，则按照邀请好友的人数排名。若两项都相同，则排名并列</p>
            <p> 5.<strong>年化投资额计算方法</strong>：每单产品持有金额*产品持有天数/365天</p>
            <p> 6.<strong>礼品发放办法</strong>：活动结束后1-5个工作日内由加薪猫工作人员与获奖者联系，礼品以物流方式寄出 </p>


        </div>
    </div>
</div>

<div class="backColor" style="width: 100%;padding-top: 10px;margin-top: 10px">
    <div class="notice">
        <div class="noticeTitle">如何进行邀请</div>
		<div class="infoText">
		<div style="padding:50px 20px 10px 10px">
            <big class="infostep"> Step 1:&nbsp;</big>请于活动开始前关注加薪猫理财公众账号：jiaxinmaolicai，按照微信提示进行注册，绑卡。<br>
			<big class="infostep"> Step 2:&nbsp;</big>方法1：进入【我的投资】，点击右上角【邀请好友】，按照提示开始邀请操作。
			</div>
			<div style="padding:10px 20px 10px 10px">
			<img style="height: auto;width: 45%;margin-left:10px;float:left;" src="./img/heroList_info1.png" >
			<big class="infostep"> 微信</big><br>
			点击【微信】，直接将连接发送给朋友或分享到朋友圈，好友点击注册后自动产生绑定关系。<br>
			<big class="infostep"> 二维码</big><br>
			二维码用于面对面邀请好友时使用，您点开二维码后，好友使用微信扫一扫，进入注册页面点击注册即与您产生绑定关系
			</div>
			<!--<div style="padding:10px 20px 10px 10px">-->
			<!--方法2：在公众号底部菜单栏点击【我的加薪猫】-【生成我的邀请页】，直接分享邀请页进行邀请。-->
			<!--</div>-->
			<!--<div style="">-->
			<!--<img style="height: auto;width: 40%;10px;float:left;padding:0 5% 20px 5%" src="./img/heroList_info2.png" >-->
			<!--<img style="height: auto;width: 40%;float:left;padding:0 5% 20px 0" src="./img/heroList_info3.png" >-->
			<!--</div>-->
			<div style="padding:10px 20px 10px 10px;clear:both;">
			<!--<big class="infostep">我的邀请页</big><br>-->
			<!--在公众号底部菜单栏点击【我的加薪猫】-【生成我的邀请页】，生成如右图所示的邀请页，直接发送给好友或者分享到朋友圈，好友点击注册后自动产生绑定关系。-->

			</div>
        </div>
    </div>
</div>





        <div class="company_info backColor" >活动最终解释权归展义金融信息服务有限公司所有
        </div>



</body>
<script src="js/tools/jquery-2.1.4.min.js"></script>
<script src="js/tools/template.js"></script>
<script src="js/control/heroList.js?v=1.04"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://m.jiaxinmore.com/js/hih5/hih5.js"></script>

<script id="showList" type="text/html">
    <div class="rankTitle"><span style="width: 25%">排名</span><span style="width: 25%">姓名</span><span style="width: 50%">累计年化投资额<small>/元</small></span></div>

    {{each list as hero index}}
    <div class="rankList
    {{if index%2==0&&hero.isCurrentUser!=1}}odd{{/if}}{{if index%2!=0&&hero.isCurrentUser!=1}}even{{/if}}{{if hero.isCurrentUser=='1'}}you{{/if}}
    ">
       {{if (index==0)}}<span class="redShadow" style=";width: 25%;color: #ffffff" >冠军{{/if}}
        {{if (index==1)}}<span class="redShadow" style=";width: 25%;color: #ffffff" >亚军{{/if}}
        {{if (index==2)}}<span class="redShadow" style=";width: 25%;color: #ffffff" >季军{{/if}}
         {{if (index>2)}}<span style=";width: 25%" >第{{index+1}}名{{/if}}

    </span><span style=";width: 25%">

      {{hero.userName}}


    </span><span style="width: 50%">{{hero.userAmount}}</span>
        {{if hero.isCurrentUser=="1"}}
        <img  src="./img/heroList_flag.png" class="youFlag">
        {{/if}}
    </div>
    {{if index==2}}
    <div class="rankTitle redShadow"><span style="margin-left:2%;width: 100%">第4-10名</span></div>
    {{/if}}
    {{if index==9}}
    <div class="rankTitle redShadow"><span style="margin-left:2%;width: 100%">第11-30名</span></div>
    {{/if}}
    {{/each}}

</script>


</html>