<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/heroList_n.css?v=1.19">
    <link rel="stylesheet" href="./css/base.css?v=201508132008">
    <link rel="stylesheet" href="./css/main.css?v=201508132008">

    <div class="ui_header " id="eventTitle" style="height: 44px" >

    <span class="ui_header-icon fl " onclick="backToIndex()">

        <i class="icon-back"></i>

    </span>

        <h1 class="hiui-page-title " style="line-height: 44px;" >

            加薪猫

        </h1>
    </div>
</head>
<body  style=" background-color: #b70239">
<div class="cover" id="cover"></div>
<div class="coverText" id="coverText" onclick="closeCover()"></div>
<div style="height: 44px;" id="padBox"></div>

<div class="rank"  id="rank">
    <h1 id="userName">小薪薪</h1>加载中。。。
</div>
<div class="Countdown"  id="Countdown">
    活动还有:<h1>0</h1>天<h1>0</h1>小时<h1>0</h1>分<h1>0</h1>秒结束
</div>
    <div class="mod_focus">
        <div class="img_box" style="height:285px">
            <div class="hiui-slide "  style="height:285px;">
                <img height="100%" src="./img/heroList_banner_1.jpg">


               </div></div>
    </div>
<div class="heroList_img_box_2" >

    <img width="100%" height="100%" src="./img/heroList_light.jpg">


</div>
<div class="bindInfo redShadow">
    加薪猫邀请争霸赛狂欢升级啦！活动期间，按照邀请好友的累计成交金额排名，最终前30名的用户将赢得超级大奖和额外邀请薪资！并且，获奖用户还将获得加薪猫理财师的邀请资格!
</div>
<div class="bindInfo">
    注* 本次活动，【新手产品】和【月月加薪】所产生的成交额不计算在累计成交额中
</div>
<div class="heroList_img_box img_height" >

    <img width="100%" height="100%" src="./img/heroList_banner_2.jpg">


</div>
<div class="bindInfo">
    *为保证奖品的成功发放，未绑卡用户 <a onclick="toBind()" style="color: #f7d136">请先绑卡>></a>
</div>
    <!--<img src="./img/hero_banner.png" style="height: 100%">-->

    <div class="img_box" style="height:60px;padding: 10px 0 0 20px;background-color: #b70239">

            <img style="height: 100%;width: auto" src="./img/heroList_flag.png" >


       </div>

<div style="background-color: #b70239;">
    <div class="heroList" id="heroList">
     
    </div>


</div>
  
<div style="width: 100%;background-color: #b70239;padding-top: 10px">
    <div class="notice">
      
        <div class="noticeText">
           <p> 1.<strong>活动时间</strong>：2015年11月1日-11月30日</p>
            <p>2.<strong>活动对象</strong>：加薪猫理财平台所有用户</p>
            <p> 3.<strong>参与产品</strong>：除【新手产品】和【月月加薪】以外的平台所有产品</p>
            <p> 4.<strong>活动规则</strong>：活动期间，按照用户名下所有邀请的好友，在本月成功支付活动参与产品的累计成交额进行排序。累计成交额相同，则按照额外薪资排名。若两项都相同，则排名并列</p>
            <p>  5.<strong>邀请累计成交额计算方法</strong>：包括本人，以及本人邀请的所有用户，在活动期间所购买活动参与产品的累计成交额</p>
            <p>  6.<strong>额外邀请薪资计算方法</strong>：邀请累计年化金额*1%</p>
            <p>  7.<strong>年化金额计算方法</strong>：每单产品持有金额*产品持有天数/365天</p>
            <p>  8.<strong>奖金发放办法</strong>：活动结束后3个工作日内由加薪猫工作人员与获奖者联系，奖金发放到获奖者绑定的银行卡上，礼品以物流方式寄出</p>
            <p>  9.活动所有现金奖励和额外邀请薪资均需代扣代缴个人所得税</p>
        </div>
    </div>
</div>

<div style="width: 100%;;background-color: #b70239;padding-top: 10px">
    <div class="notice">
        
		<div class="infoText">
		<div style="padding:80px 20px 10px 10px">
            <big class="infostep"> Step 1:&nbsp;</big>请于活动开始前关注加薪猫理财公众账号：jiaxinmaolicai，按照微信提示进行注册，绑卡。<br>
			<big class="infostep"> Step 2:&nbsp;</big>方法1：进入【我的投资】，点击右上角【邀请好友】，按照提示开始邀请操作。
			</div>
			<div style="padding:10px 20px 10px 10px">
			<img style="height: auto;width: 45%;margin-left:10px;float:left;" src="./img/heroList_info1.png" >
			<big class="infostep"> 微信</big><br>
			点击【微信】，直接将连接发送给朋友或分享到朋友圈，好友点击注册后自动产生绑定关系。<br>
			<big class="infostep"> 二维码</big><br>
			二维码用于面对面邀请好友时使用，您点开二维码后，好友使用微信扫一扫，进入注册页面点击注册即与您产生绑定关系
			</div>
			<!--<div style="padding:10px 20px 10px 10px">-->
			<!--方法2：在公众号底部菜单栏点击【我的加薪猫】-【生成我的邀请页】，直接分享邀请页进行邀请。-->
			<!--</div>-->
			<!--<div style="">-->
			<!--<img style="height: auto;width: 40%;10px;float:left;padding:0 5% 20px 5%" src="./img/heroList_info2.png" >-->
			<!--<img style="height: auto;width: 40%;float:left;padding:0 5% 20px 0" src="./img/heroList_info3.png" >-->
			<!--</div>-->
			<div style="padding:10px 20px 40px 10px;clear:both;">
			<!--<big class="infostep">我的邀请页</big><br>-->
			<!--在公众号底部菜单栏点击【我的加薪猫】-【生成我的邀请页】，生成如右图所示的邀请页，直接发送给好友或者分享到朋友圈，好友点击注册后自动产生绑定关系。-->

			</div>
        </div>
    </div>
</div>





        <div class="company_info" >活动最终解释权归展义金融信息服务有限公司所有
        </div>



</body>
<script src="js/tools/jquery-2.1.4.min.js"></script>
<script src="js/tools/template.js"></script>
<script src="js/control/heroList.js?v=1.04"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://m.jiaxinmore.com/js/hih5/hih5.js"></script>

<script id="showList" type="text/html">
    <div class="rankTitle"><span style="width: 18%">排名</span><span style="width: 20%">姓名</span><span style="width: 30%">累计成交<small>/元</small></span><span style="width:28%">额外薪资<small>/元</small></span></div>

    {{each list as hero index}}
    <div class="rankList
    {{if index%2==0&&(index+1)!=userRanking}}odd{{/if}}{{if index%2!=0&&(index+1)!=userRanking}}even{{/if}}{{if (index+1)==userRanking}}you{{/if}}
    ">
       {{if (index==0)}}<span class="redShadow" style=";width: 18%;color: #ffffff" >冠军{{/if}}
        {{if (index==1)}}<span class="redShadow" style=";width: 18%;color: #ffffff" >亚军{{/if}}
        {{if (index==2)}}<span class="redShadow" style=";width: 18%;color: #ffffff" >季军{{/if}}
         {{if (index>2)}}<span style=";width: 18%" >第{{index+1}}名{{/if}}

    </span><span style=";width: 20%">
        {{if (index+1)==userRanking}}
      {{userName}}
        {{else}}
        {{hero.userName}}
      {{/if}}

    </span><span style="width: 30%">{{hero.payAmount}}</span><span style="width: 28%">{{hero.brkAmount}}</span>
        {{if (index+1)==userRanking}}
        <img  src="./img/heroList_flag.png" class="youFlag">
        {{/if}}
    </div>
    {{if index==2}}
    <div class="rankTitle redShadow"><span style="margin-left:2%;width: 100%">第4-10名</span></div>
    {{/if}}
    {{if index==9}}
    <div class="rankTitle redShadow"><span style="margin-left:2%;width: 100%">第11-30名</span></div>
    {{/if}}
    {{/each}}

</script>


</html>